.auth-block {
  width: 300px;
  @media (min-width: 767px) {
    width: 350px;
  }

  @media (min-width: 1800px) {
    width: 400px;
  }

  .auth-title {
    margin-bottom: 20px;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 16px;
  }
}